html {
	position: relative;
	min-height: 100%;
}
body {
	text-align: center;
	font-family: ＭＳ Ｐゴシック;
}
.main-header {
	padding-bottom: 15%;
	width: 100%;
	height: 120px;
	background-size: cover;
	background-image: url("/assets/header.jpg");
	background-attachment: fixed;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
header {
	background-color: #666;
}
header ul {
}
header ul a {
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 12px 25px;
	font-weight: bold;
}
header ul p {
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 12px 25px;
	font-weight: bold;
}
header ul a:hover {
	color: #CCC;
}
.left {
	float: left;
}
.right_menu {
	float: right;
}
.right {
	float: left;
}
header ul:after {
	content: "";
	display: block;
	clear: both;
}
.main-header img {
	position: relative;
	width: 20%;
	margin-top: 80px;
}
.twitter_main {
	margin: 0 auto;
	width: 90%;
	padding-top:30px;
	text-align: left;
}
.scoll{
	overflow-y:scroll;
	width: 820px;
	height:400px;
}
.box1{
	margin: 0 auto;
	width: 800px;
	text-align: left;
	border: 0px ;
}
.box2{
		margin: 0 auto;
		width: 800px;
		text-align: left;
		border-bottom : 2px dotted #B1B1B1;
		line-height: 1.5;
}
.box1th1{
	width: 50%;
}
.box1th2{
	width: 50%;
	text-align:right;
	text-decoration:none;
}
.toptd{
	width: 76%;
}
.toptd2{
	width: 8%;
	font-size: 12px;
}
.tweet_content{
	float:none;
	display:inline;
	padding:5px 15px 10px 18px;
	margin-right:10px;
	vertical-align:middle;
}
.twitter_show{
	height: 650px;
	padding-top: 100px;
}
footer {
	background-color: #0F3F62;
	height:40px;
	padding-top:3px;
	color:#FFF;
	font-size:14px;
}
